.card {
  background: rgb(243, 243, 243);
  border: 1px solid #e3ebf0;
  width: 300px;
  border-radius: 4px;
  margin: 10px;
  border-left: 5px solid cadetblue;
}
.card:hover {
  box-shadow: 0 0 30px #e3ebf0;
}
.card h1 {
  color: cadetblue;
  font-size: 30px;
  font-weight: 600;
}
.card p {
  font-size: 18px;
  color: lightslategrey;
  font-weight: 200;
}
